
<h1>Search Results</h1>

<ul class="nav nav-pills">
  <li>
    <%= link_to('New Search', accommodations_path) %>
  </li>
</ul>

<% @accommodations.each do |accommodation| %>

  <div class="col-md-8 col-sm-8">
    <p><%= image_tag accommodation.image.url(:square) %></p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p class="lead"><%= link_to(accommodation.description, accommodation) %>
      <p>City: <%= accommodation.city %></p>
      <p>Locale: <%= accommodation.locale %></p>      
      <p>Price: $<%= accommodation.price %> per night</p>
      <p>Type: <%= accommodation.listing_type %></p>
      <p>Address: <%= accommodation.address1 %></p>
      <p>Address 2: <%= accommodation.address2 %></p>

<!--  I decided not to include these fields in the search results now:

      <p>State: <%#= accommodation.state %></p>
      <p>Zip: <%#= accommodation.zip %></p>
      <p>Phone: <%#= accommodation.phone %></p> -->

    </div>
  </div>
  <p> --------------- </p>
<% end %>
