
<h1>Search Results</h1>

<div id="map-container">
  <div id="map-canvas"/>
</div>
<br>
<%= form_for @search, url: search_other_path, method: "get", class: "form-horizontal", role: "form" do |f| %>

 
  <% @search.errors.each do |attr, msg| %>
  <div class="error"><%= msg %></div> 
  <% end %>


  <div class="form-group"> 
    <%= f.label :city %>
    <%= f.text_field :q, :autofocus => true %>
  </div>
  <div class="form-group"> 
    <%= f.label :max_price %>
    <%= f.select :max_price, options_for_select(accommodation_price_ranges, :selected => @search.max_price) %>
  </div>

  <div class="form-group">    
    <%= f.submit 'Search', class: "btn btn-default" %>
  </div>
<% end %>

<% flash[:errors] %>

<% if @accommodations.blank? %> 
  <p>Your search - <%= @search.q %> <%= lookup_price_range_label @search.max_price %> - did not match any accommodations.</p>
<% else %> 
 
<% @accommodations.each do |accommodation| %>

  <div class="col-md-8 col-sm-8">
    <p><%= image_tag accommodation.image.url(:square) %></p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p class="lead"><%= link_to(accommodation.description, accommodation) %>
      <p>City: <%= accommodation.city %></p>
      <p>Neighborhood: <%= accommodation.locale %></p>      
      <p>Price: $<%= accommodation.price %> per night</p>
      <p>Type: <%= accommodation.listing_type %></p>
      <p>Address: <%= accommodation.address1 %></p>
      <p>Address 2: <%= accommodation.address2 %></p>
      <p>Phone: <%= accommodation.phone %></p>

<!--  I decided not to include these fields in the search results now:

      <p>State: <%#= accommodation.state %></p>
      <p>Zip: <%#= accommodation.zip %></p>
      <p>Phone: <%#= accommodation.phone %></p> -->

    </div>
  </div>
  <p> --------------- </p>
<% end %>
<% end %>