
<!-- If a user is signed in, then show the Log out button, otherwise show
Sign up and Log in links: -->

<!-- Show a button to allow a user to list a new accommodation: -->
<%= button_to "List Space", new_accommodation_path, method: "get" %>

<h1>Welcome to NoFeeBnB!</h1> 
<h4>NoFeeBnB allows you to list or rent a place to stay.</h4>
<h5>It's free to list, and we don't charge fees to renters!</h5>
<br>

<div class="jumbotron">
  <div class="container">
  </div>
</div> 

<h2>Search for listings in your favorite city:</h2>

<%= form_for :simple_search, url: search_other_path, method: "get", class: "form-horizontal", role: "form"  do |f| %>

  <div class="form-group"> 
    <%= f.label :city %>
    <%= f.text_field :q, :autofocus => true %>
  </div>

  <div class="form-group">    
    <%= f.submit 'Search', class: "btn btn-default" %>
  </div>

<% end %>
